<a href="https://colab.research.google.com/github/HarinCoder/HarinCoder/blob/main/Day19_Harin_DIY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Problem Statement: Measures of Central Tendency-I Write a Python program to declare a 1-D array. With the help of the statistics library, calculate the Mean, Median, and Mode

In [ ]:
import numpy as np
import pandas as pd
import statistics

i = [1,2,3,4,5,6,2,3,4,5,5,5,5]

mean = statistics.mean(i)
print("Mean:", mean)

median = statistics.median(i)
print("Median:", median)

mode = statistics.mode(i)
print("Mode:", mode)

Mean: 3.8461538461538463
Median: 4
Mode: 5

2. Problem Statement: Measures of Central Tendency-IIWrite a Python program to declare a DataFrame as shown in the dataset section below and calculate the Mean, Median, and Mode of the entire DataFrame.

In [ ]:
import numpy as np
import pandas as pd
import statistics

i = pd.read_csv("Books.csv")

display(i)

df = pd.DataFrame(i)
display(df)

mean = df.mean()
print("Mean:")
print(mean)

median = df.median()
print("\nMedian:")
print(median)

mode = df.mode()
print("\nMode:")
print(mode)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,"Act Like a Lady, Think Like a Man: What Men Re...",Steve Harvey,4.6,5013,17,2009,Non Fiction
1,Arguing with Idiots: How to Stop Small Minds a...,Glenn Beck,4.6,798,5,2009,Non Fiction
2,"Breaking Dawn (The Twilight Saga, Book 4)",Stephenie Meyer,4.6,9769,13,2009,Fiction
3,Crazy Love: Overwhelmed by a Relentless God,Francis Chan,4.7,1542,14,2009,Non Fiction
4,Dead And Gone: A Sookie Stackhouse Novel (Sook...,Charlaine Harris,4.6,1541,4,2009,Fiction
...,...,...,...,...,...,...,...
695,The Wonderful Things You Will Be,Emily Winfield Martin,4.9,20920,9,2022,Fiction
696,Ugly Love: A Novel,Colleen Hoover,4.7,33929,10,2022,Fiction
697,Verity,Colleen Hoover,4.6,71826,11,2022,Fiction
698,What to Expect When You're Expecting,Heidi Murkoff,4.8,27052,13,2022,Non Fiction
699,Where the Crawdads Sing,Delia Owens,4.8,208917,10,2022,Fiction

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,"Act Like a Lady, Think Like a Man: What Men Re...",Steve Harvey,4.6,5013,17,2009,Non Fiction
1,Arguing with Idiots: How to Stop Small Minds a...,Glenn Beck,4.6,798,5,2009,Non Fiction
2,"Breaking Dawn (The Twilight Saga, Book 4)",Stephenie Meyer,4.6,9769,13,2009,Fiction
3,Crazy Love: Overwhelmed by a Relentless God,Francis Chan,4.7,1542,14,2009,Non Fiction
4,Dead And Gone: A Sookie Stackhouse Novel (Sook...,Charlaine Harris,4.6,1541,4,2009,Fiction
...,...,...,...,...,...,...,...
695,The Wonderful Things You Will Be,Emily Winfield Martin,4.9,20920,9,2022,Fiction
696,Ugly Love: A Novel,Colleen Hoover,4.7,33929,10,2022,Fiction
697,Verity,Colleen Hoover,4.6,71826,11,2022,Fiction
698,What to Expect When You're Expecting,Heidi Murkoff,4.8,27052,13,2022,Non Fiction
699,Where the Crawdads Sing,Delia Owens,4.8,208917,10,2022,Fiction

Mean:
User Rating        4.639857
Reviews        19255.195714
Price             12.700000
Year            2015.500000
dtype: float64

Median:
User Rating        4.7
Reviews        10284.0
Price             11.0
Year            2015.5
dtype: float64

Mode:
                                                 Name        Author  \
0   Publication Manual of the American Psychologic...  Gary Chapman
1                         The Very Hungry Caterpillar   Jeff Kinney
2                                                 NaN           NaN
3                                                 NaN           NaN
4                                                 NaN           NaN
5                                                 NaN           NaN
6                                                 NaN           NaN
7                                                 NaN           NaN
8                                                 NaN           NaN
9                                                 NaN           NaN
10                                                NaN           NaN
11                                                NaN           NaN
12                                                NaN           NaN
13                                                NaN           NaN

    User Rating  Reviews  Price  Year        Genre
0           4.8   8580.0    8.0  2009  Non Fiction
1           NaN      NaN    NaN  2010          NaN
2           NaN      NaN    NaN  2011          NaN
3           NaN      NaN    NaN  2012          NaN
4           NaN      NaN    NaN  2013          NaN
5           NaN      NaN    NaN  2014          NaN
6           NaN      NaN    NaN  2015          NaN
7           NaN      NaN    NaN  2016          NaN
8           NaN      NaN    NaN  2017          NaN
9           NaN      NaN    NaN  2018          NaN
10          NaN      NaN    NaN  2019          NaN
11          NaN      NaN    NaN  2020          NaN
12          NaN      NaN    NaN  2021          NaN
13          NaN      NaN    NaN  2022          NaN

<ipython-input-11-a2af0130e9e0>:12: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  mean = df.mean()
<ipython-input-11-a2af0130e9e0>:16: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  median = df.median()

3. Problem Statement: Measures of Central Tendency-IIILoad the “Books.csv”dataset into a DataFrame and perform the following tasks:

1.Perform   initial   analysis   on   the dataset   using   the info()and   the describe()functions

2.Group the data based on the "Author"column and calculate the average user ratings and average price,and write them in new columns

3.Find out which of the authorshave writtenthe maximum number of books

In [ ]:
import numpy as np
import pandas as pd
import statistics

i = pd.read_csv("Books.csv")

display(i)

print(i.info())

print(i.describe())

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,"Act Like a Lady, Think Like a Man: What Men Re...",Steve Harvey,4.6,5013,17,2009,Non Fiction
1,Arguing with Idiots: How to Stop Small Minds a...,Glenn Beck,4.6,798,5,2009,Non Fiction
2,"Breaking Dawn (The Twilight Saga, Book 4)",Stephenie Meyer,4.6,9769,13,2009,Fiction
3,Crazy Love: Overwhelmed by a Relentless God,Francis Chan,4.7,1542,14,2009,Non Fiction
4,Dead And Gone: A Sookie Stackhouse Novel (Sook...,Charlaine Harris,4.6,1541,4,2009,Fiction
...,...,...,...,...,...,...,...
695,The Wonderful Things You Will Be,Emily Winfield Martin,4.9,20920,9,2022,Fiction
696,Ugly Love: A Novel,Colleen Hoover,4.7,33929,10,2022,Fiction
697,Verity,Colleen Hoover,4.6,71826,11,2022,Fiction
698,What to Expect When You're Expecting,Heidi Murkoff,4.8,27052,13,2022,Non Fiction
699,Where the Crawdads Sing,Delia Owens,4.8,208917,10,2022,Fiction

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         700 non-null    object
 1   Author       700 non-null    object
 2   User Rating  700 non-null    float64
 3   Reviews      700 non-null    int64
 4   Price        700 non-null    int64
 5   Year         700 non-null    int64
 6   Genre        700 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 38.4+ KB
None
       User Rating        Reviews       Price         Year
count   700.000000     700.000000  700.000000   700.000000
mean      4.639857   19255.195714   12.700000  2015.500000
std       0.218586   23613.443875    9.915162     4.034011
min       3.300000      37.000000    0.000000  2009.000000
25%       4.500000    4987.250000    7.000000  2012.000000
50%       4.700000   10284.000000   11.000000  2015.500000
75%       4.800000   23358.000000   15.000000  2019.000000
max       4.900000  208917.000000  105.000000  2022.000000