<a href="https://colab.research.google.com/github/HarinCoder/HarinCoder/blob/main/Day20_DIY_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Problem Statement: Measures of DispersionLoad the “HRdataset_v14.csv”dataset  into  a  DataFrame  and  group  the  data based on the “Department”column. From the grouped DataFrame and perform the following tasks

In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


ds = pd.read_csv("HRDataset_v14.csv")
display(ds)

ds.info()

grouped_data = ds.groupby('Department')
display(grouped_data)

mean_salary = grouped_data['Salary'].mean()
display("Mean Salary:\n", mean_salary)

median_salary = grouped_data['Salary'].median()
display("Median Salary:\n", median_salary)


highest_employee_count = grouped_data['Employee_Name'].count().idxmax()
display("Department with highest number of employees:", highest_employee_count)

std_dev_salary = grouped_data['Salary'].std()
display("Standard Deviation of Salary:\n ", std_dev_salary)

var_salary = grouped_data['Salary'].var()
display("Variance of Salary:\n ", var_salary)

skewness = ds.skew()
display("Skewness:\n", skewness)

kurtosis = ds.kurtosis()
display("Kurtosis:\n", kurtosis)

ds['Z_score'] = (ds['Salary'] - ds['Salary'].mean()) / ds['Salary'].std()
display("Z-score of Salary:\n", ds['Z_score'])

percentile_30 = ds['Salary'].quantile(0.3)
display("30th percentile of Salary:", percentile_30)

quartiles = ds['GenderID'].quantile([0.25, 0.5, 0.75])
display("Quartiles of GenderID:\n", quartiles)

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,...,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,"Woodson, Jason",10135,0,0,1,1,5,3,0,65893,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,4.07,4,0,2/28/2019,0,13
307,"Ybarra, Catherine",10301,0,0,0,5,5,1,0,48513,...,Brannon Miller,12.0,Google Search,PIP,3.20,2,0,9/2/2015,5,4
308,"Zamora, Jennifer",10010,0,0,0,1,3,4,0,220450,...,Janet King,2.0,Employee Referral,Exceeds,4.60,5,6,2/21/2019,0,16
309,"Zhou, Julia",10043,0,0,0,1,3,3,0,89292,...,Simon Roup,4.0,Employee Referral,Fully Meets,5.00,3,5,2/1/2019,0,11
310,"Zima, Colleen",10271,0,4,0,1,5,3,0,45046,...,David Stanley,14.0,LinkedIn,Fully Meets,4.50,5,0,1/30/2019,0,2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Employee_Name               311 non-null    object
 1   EmpID                       311 non-null    int64
 2   MarriedID                   311 non-null    int64
 3   MaritalStatusID             311 non-null    int64
 4   GenderID                    311 non-null    int64
 5   EmpStatusID                 311 non-null    int64
 6   DeptID                      311 non-null    int64
 7   PerfScoreID                 311 non-null    int64
 8   FromDiversityJobFairID      311 non-null    int64
 9   Salary                      311 non-null    int64
 10  Termd                       311 non-null    int64
 11  PositionID                  311 non-null    int64
 12  Position                    311 non-null    object
 13  State                       311 non-null    object
 14  Zip                         311 non-null    int64
 15  DOB                         311 non-null    object
 16  Sex                         311 non-null    object
 17  MaritalDesc                 311 non-null    object
 18  CitizenDesc                 311 non-null    object
 19  HispanicLatino              311 non-null    object
 20  RaceDesc                    311 non-null    object
 21  DateofHire                  311 non-null    object
 22  DateofTermination           104 non-null    object
 23  TermReason                  311 non-null    object
 24  EmploymentStatus            311 non-null    object
 25  Department                  311 non-null    object
 26  ManagerName                 311 non-null    object
 27  ManagerID                   303 non-null    float64
 28  RecruitmentSource           311 non-null    object
 29  PerformanceScore            311 non-null    object
 30  EngagementSurvey            311 non-null    float64
 31  EmpSatisfaction             311 non-null    int64
 32  SpecialProjectsCount        311 non-null    int64
 33  LastPerformanceReview_Date  311 non-null    object
 34  DaysLateLast30              311 non-null    int64
 35  Absences                    311 non-null    int64
dtypes: float64(2), int64(16), object(18)
memory usage: 87.6+ KB

'Mean Salary:\n'

Department
Admin Offices            71791.888889
Executive Office        250000.000000
IT/IS                    97064.640000
Production               59953.545455
Sales                    69061.258065
Software Engineering     94989.454545
Name: Salary, dtype: float64

'Median Salary:\n'

Department
Admin Offices            63003.0
Executive Office        250000.0
IT/IS                    92328.5
Production               59472.0
Sales                    65310.0
Software Engineering     95660.0
Name: Salary, dtype: float64

'Department with highest number of employees:'

'Production       '

'Standard Deviation of Salary:\n '

Department
Admin Offices           21706.397164
Executive Office                 NaN
IT/IS                   33209.612190
Production              11422.656822
Sales                   21271.393236
Software Engineering     9566.505698
Name: Salary, dtype: float64

'Variance of Salary:\n '

Department
Admin Offices           4.711677e+08
Executive Office                 NaN
IT/IS                   1.102878e+09
Production              1.304771e+08
Sales                   4.524722e+08
Software Engineering    9.151803e+07
Name: Salary, dtype: float64

<ipython-input-18-5c78f38e1ac1>:31: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  skewness = ds.skew()

'Skewness:\n'

EmpID                     0.000000
MarriedID                 0.415730
MaritalStatusID           1.408602
GenderID                  0.267278
EmpStatusID               0.631944
DeptID                   -1.536392
PerfScoreID              -1.248091
FromDiversityJobFairID    2.811250
Salary                    3.306181
Termd                     0.705404
PositionID               -1.231676
Zip                       4.105494
ManagerID                 0.759271
EngagementSurvey         -1.116979
EmpSatisfaction          -0.222609
SpecialProjectsCount      1.539271
DaysLateLast30            3.143468
Absences                  0.029283
dtype: float64

<ipython-input-18-5c78f38e1ac1>:34: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  kurtosis = ds.kurtosis()

'Kurtosis:\n'

EmpID                     -1.200000
MarriedID                 -1.839037
MaritalStatusID            2.053512
GenderID                  -1.941087
EmpStatusID               -1.488610
DeptID                     2.241434
PerfScoreID                4.049610
FromDiversityJobFairID     5.941296
Salary                    15.452149
Termd                     -1.512171
PositionID                 0.812346
Zip                       16.187425
ManagerID                  1.608422
EngagementSurvey           1.164560
EmpSatisfaction           -0.762600
SpecialProjectsCount       0.641415
DaysLateLast30             8.830523
Absences                  -1.301962
dtype: float64

'Z-score of Salary:\n'

0     -0.258965
1      1.407832
2     -0.161615
3     -0.160184
4     -0.723296
         ...
306   -0.124328
307   -0.815200
308    6.019458
309    0.805804
310   -0.953016
Name: Z_score, Length: 311, dtype: float64

'30th percentile of Salary:'

57748.0

'Quartiles of GenderID:\n'

0.25    0.0
0.50    0.0
0.75    1.0
Name: GenderID, dtype: float64