<a href="https://colab.research.google.com/github/HarinCoder/HarinCoder/blob/main/Pandas_important_question_(part_2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a Pandas program to convert a NumPy array to a Pandas series.

In [2]:
import numpy as np
import pandas as pd

arr = np.array([1,2,3,4,5])

i = pd.Series(arr)

print(i)

0    1
1    2
2    3
3    4
4    5
dtype: int64

Write a Pandas program to change the data type of given a column or a Series.

In [1]:
import numpy as np
import pandas as pd

# create a sample DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4.5, 5.6, 6.7], 'C': ['x', 'y', 'z']})
print("Original DataFrame:\n", df)

# change data type of column 'A' from integer to float
df['A'] = df['A'].astype(float)
print("\nDataFrame after changing data type of column 'A':\n", df)

# change data type of column 'B' from float to integer
df['B'] = df['B'].astype(int)
print("\nDataFrame after changing data type of column 'B':\n", df)

# change data type of column 'C' from string to category
df['C'] = df['C'].astype('category')
print("\nDataFrame after changing data type of column 'C':\n", df)

Original DataFrame:
    A    B  C
0  1  4.5  x
1  2  5.6  y
2  3  6.7  z

DataFrame after changing data type of column 'A':
      A    B  C
0  1.0  4.5  x
1  2.0  5.6  y
2  3.0  6.7  z

DataFrame after changing data type of column 'B':
      A  B  C
0  1.0  4  x
1  2.0  5  y
2  3.0  6  z

DataFrame after changing data type of column 'C':
      A  B  C
0  1.0  4  x
1  2.0  5  y
2  3.0  6  z

Write a Pandas program to convert the first column of a DataFrame as a Series.

In [3]:
import numpy as np


data = {'Name': ['John', 'Emma', 'Mike', 'Sarah'], 'Age': [28, 25, 32, 30], 'City': ['New York', 'London', 'Paris', 'Sydney']}
f = pd.DataFrame(data)

series = f.iloc[:, 0]

print(series)

0     John
1     Emma
2     Mike
3    Sarah
Name: Name, dtype: object

Write a Pandas program to convert a given Series to an array.

In [4]:
import numpy as np

ser = pd.Series([1,2,3,4,5])
print(ser)

arr = ser.to_numpy()
print(arr)

0    1
1    2
2    3
3    4
4    5
dtype: int64
[1 2 3 4 5]

Write a Pandas program to convert Series of lists to one Series.

In [5]:
import numpy as np

l1 = [1,2,3,4,5,6]
l2 = [7,8,9,10,11,12]

ser = pd.Series(l1,l2)
print(ser)

7     1
8     2
9     3
10    4
11    5
12    6
dtype: int64

11.Write a Pandas program to sort a given Series.

In [6]:
import pandas as pd

s = pd.Series([1, 3, 5, 2, 4])

s_sorted = s.sort_values()
print(s_sorted)

0    1
3    2
1    3
4    4
2    5
dtype: int64

12.Write a Pandas program to add some data to an existing Series.

In [7]:
import pandas as pd

fruits = pd.Series(['apple', 'banana', 'cherry'])
print("Initial Series:\n", fruits)

fruits = fruits.append(pd.Series(['orange', 'grape']))
print("\nUpdated Series:\n", fruits)

Initial Series:
 0     apple
1    banana
2    cherry
dtype: object

Updated Series:
 0     apple
1    banana
2    cherry
0    orange
1     grape
dtype: object

<ipython-input-7-f7fa632a7784>:6: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  fruits = fruits.append(pd.Series(['orange', 'grape']))

Write a Pandas program to create a subset of a given series based on value and condition.

In [8]:
import pandas as pd

# create a sample series
s = pd.Series([10, 20, 30, 40, 50, 60])

subset = s[s > 30]
print(subset)

3    40
4    50
5    60
dtype: int64