<a href="https://colab.research.google.com/github/HarinCoder/HarinCoder/blob/main/PANDAS_important_Questions_(Part_1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [1]:
import pandas as pd

data = pd.Series([5, 3, 8, 4, 2])

# Display the data
print(data)

0    5
1    3
2    8
3    4
4    2
dtype: int64

2.Write a Pandas program to convert a Panda module Series to Python list and it's type.

In [9]:
import pandas as pd

i = pd.Series([1,2,3,4,5])

lst = i.tolist()

print(lst)
print(type(lst))

[1, 2, 3, 4, 5]
<class 'list'>

3.Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

In [7]:
import pandas as pd

i = pd.Series([1,2,3,4,5])
j = pd.Series([6,7,8,9,10])

a = (i+j)
print(a)

b = (i-j)
print(b)

c = (i * j)
print(c)

d = (i % j)
print(d)

0     7
1     9
2    11
3    13
4    15
dtype: int64
0   -5
1   -5
2   -5
3   -5
4   -5
dtype: int64
0     6
1    14
2    24
3    36
4    50
dtype: int64
0    1
1    2
2    3
3    4
4    5
dtype: int64

4.Write a Pandas program to compare the elements of the two Pandas Series.

In [8]:
import pandas as pd

p= pd.Series([10, 20, 30, 40, 50])
o = pd.Series([10, 30, 20, 40, 50])

print("are they equal?: ", p.equals(o))

are they equal?:  False

5.Write a Pandas program to convert a dictionary to a Pandas series.

In [10]:
import pandas as pd

i = { "name": "harin",
      "age" : 23,
      "job" : "machine learning engineer"
       }

k = pd.Series(i)
print(k)

name                        harin
age                            23
job     machine learning engineer
dtype: object